.MuiPaper-root {
    background-color: #141414 !important;
}

.MuiDialog-paperWidthSm {
    /* width: 850px !important; */
    max-width: 850px !important;
    min-width: 850px !important;
}

.MuiPaper-rounded { 
    border-radius: 10px !important;
}

.MuiDialogTitle-root {
    padding: 0 !important;
    height: 38vw !important;
}

.MuiTypography-root {
    width: 100%;
    height: 100%;
}